.confirmation-popup-container {
    width: 25vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.button-container{
    display: flex;
    justify-content: flex-end;
}
.button-container button{
    margin-left: 1rem;
}