.search-page-container{
    flex-direction: column;
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search-bar-container{
    border-radius: 20px;
    background: rgba(153, 215, 242, 0.7);
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.search-bar-container > button{
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    padding: 0.5rem;
    margin-top: 1.3rem;
    margin-left: 1rem;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    transition: 200ms ease-out;
    cursor: pointer;
}

.search-bar-container > button:hover{
    background-color: var(--accent-hover-color);
    color: var(--secondary-color);
}

.search-option{
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem;
}

.search-option > input{
    border-radius: 8px;
    border: none;
    height: 2rem;
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 0.2rem;
}

.search-option > input:focus{
    outline: none;
}


